@charset "UTF-8";

/* Versão Mobile first */

/* Typical Device Breakpoints
________________________________
Pequenas telas: até 600px
Celular: de 600px até 768px não incluso
Tablet: de 768px até 992px não incluso
Desktop: 992px até 1200px não incluso
Grandes telas: acima de 1200px inclussive


*/

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: black url(../imagens/back-phone.jpg) no-repeat center center;
    background-size: cover;

}

main {
    background-color: rgba(255, 255, 255, 0.692);
    width: 70%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.486);
    font-size: 2em;
}

img {
    display: none;
    margin: auto;
}

img#phone {
    display: block;
}

